<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATM Action</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/action.css">
</head>
<body>
  <div class="action-container">
    <h2>ATM Client</h2>
    <h3>Welcome, {{ username }}</h3>
    <form action="/action" method="post">
      <div>
        Action:
        <select name="action">
          <option value="balance">Balance Inquiry</option>
          <option value="deposit">Deposit</option>
          <option value="withdraw">Withdraw</option>
        </select>
        <br /><br />
        Amount (if any): <input type="number" name="amount" /><br /><br />
        <input type="submit" value="Send" />
      </div>
    </form>
    <p>{{ result }}</p>
  </div>
</body>
</html>