<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATM Action</title>
</head>
<body>
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; text-align: center;">
    <h2>ATM Client</h2>
    <form action="/action" method="post" style="background: white; padding: 20px; border-radius: 10px;">
      <div>
        Action:
        <select name="action">
          <option value="balance">Balance Inquiry</option>
          <option value="deposit">Deposit</option>
          <option value="withdraw">Withdraw</option>
        </select>
        <br /><br />
        Amount (if any): <input type="number" name="amount" /><br /><br />
        <input type="submit" value="Send" />
      </div>
    </form>
    <p>{{ result }}</p>
  </div>
</body>
</html>