<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/login.css">
</head>
<body>
  <div class="login-container">
    <h2>ATM Client Login</h2>
    <form action="/login" method="post">
      Username: <input type="text" name="username" /><br /><br />
      Password: <input type="password" name="password" /><br /><br />
      <input type="submit" value="Login" />
    </form>
    <p>{{ result }}</p>
    <a href="/signup">Sign Up</a>
  </div>
</body>
</html>